#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto auto auto ;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.individualPhone .PhoneInputCountryIcon {
  display: none !important;
}
.individualPhone .PhoneInputCountrySelect{
  width: 200px
}
.individualPhone .PhoneInputCountrySelect{
  height: 36px
}
.individualPhone .PhoneInputInput {
  height: 36px;
  border: 1px solid #d1d5db;
  border-radius: 6px;

}
.custom-file-upload input[type='file'] {
  display: none;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
